.hero_block{
    display: flex;
    gap: 81px;
    padding-top: 123px;
    align-items: center;
    justify-content: space-around;
}
.hero_contend{
    width: 632px;
}
.hero_title{
    font-weight: 900;
font-size: 56px;
color: #2f2f2f;

}
.hero_span{
    color: #717CFF;
}
.hero_text{
    padding-top: 15px;
    font-weight: 500;
font-size: 22px;
line-height: 173%;
color: #7d7d7d;
padding-bottom: 42px;
}
.hero_btn{
font-weight: 500;
font-size: 22px;
line-height: 182%;
color: #fff;
border-radius: 11px;
width: 191px;
height: 64px;
background-color: #717CFF;
padding: 12px 34px;
}

