.university{
    background-color:  #fafafa;
}
.university_block{
    text-align: center;
}
.university_text{
    padding-top: 55px;
    font-weight: 500;
font-size: 23px;
letter-spacing: 0.09em;
text-transform: uppercase;
text-align: center;
color: #7d7d7d;
}
.university_list{
    display: flex;
    justify-content: space-around;
    padding-top: 86px;
    padding-bottom: 104px;
}
.university_img{
    padding-bottom: 57px;
}
